# All data

## Init

### Imports

In [2]:
import pandas as pd

from sklearn.datasets.lfw import Bunch

### Args

In [3]:
args = Bunch()

## Read

In [7]:
args.data_spec = {
    'stackoverflow', 'stepik'#, 'docstring'
}

In [11]:
def read_data(data_name):
    df = pd.read_hdf(f'{data_name}_data.hdf5')
    df['source'] = data_name
    return df

In [12]:
dfs = [read_data(data_name) for data_name in args.data_spec]
df = pd.concat(dfs, axis=0, ignore_index=True)

In [13]:
df.tail()

,text,tags,source
607183,Most possible pairs DCNL Given a list of value...,python,stackoverflow
607184,Theano operations returning odd results DCNL S...,nnet numpy python theano,stackoverflow
607185,There are two horses on a chess board and four...,chess-board easy python,stepik
607186,Fizz Buzz is a classic programming problem. He...,medium python,stepik
607187,"Find the number of ""Ds"", ""Cs"", ""Bs"" and ""As"" f...",grades hard python,stepik

## Analysis

In [14]:
df.describe()

,text,tags,source
count,607188,607188,607188
unique,607181,236496,2
top,Reverse proxy capable pure python webserver? D...,python,stackoverflow
freq,2,43300,607185

## Save

In [15]:
args.save_path = 'all_data.hdf5'

In [16]:
%time df.to_hdf(args.save_path, 'df', mode='w', format='f', complevel=9)

CPU times: user 1.01 s, sys: 552 ms, total: 1.56 s
Wall time: 1.57 s

In [17]:
!du -sh $args.save_path

376M	all_data.hdf5

## End

In [ ]:
args